# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Premake
Premake5.exe

# Visual studio solution
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.idb
*.ilk
*.log
*.tlog/

# Images
*.png

# VS code
.vscode/

# Artifacts
bin/
obj/
build/

# CLion
.idea/
cmake-build-debug/
cmake-build-release/